dist
build
coverage
reports
.release

node_modules
.pnpm-store
.npm

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.idea
.vscode

*.tsbuildinfo

playground/dist
playground/server/dist
packages/*/dist

tmp
temp

.aptos
*.mv
*.bcs
Move.lock
build/
bytecode_modules/
compiled_modules/
generated/
